@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=PT+Mono&family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Poppins:wght@700&display=swap");

#root,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ebe8d6;
}
